BODY {
	SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-FACE-COLOR: #dadaec; MARGIN: 0px; SCROLLBAR-DARKSHADOW-COLOR: #f4f4f4; FONT-FAMILY: arial, verdana,  sans-serif; SCROLLBAR-HIGHLIGHT-COLOR: #f4f4f4; COLOR: #000000; SCROLLBAR-SHADOW-COLOR: #b8b3e0; FONT-SIZE: 12px; SCROLLBAR-TRACK-COLOR: #f3f3f3; TEXT-DECORATION: none; SCROLLBAR-3DLIGHT-COLOR: #b8b3e0
}
A {
	FONT-FAMILY: verdana,arial; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	COLOR: #990000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
INPUT {
	BORDER-BOTTOM-COLOR: #000000; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #000000; FONT-FAMILY: verdana,arial; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; COLOR: #000000; BORDER-RIGHT-COLOR: #000000; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #000000; BORDER-LEFT-WIDTH: 1px; MARGIN-RIGHT: 2px
}
INPUT.Default_Button {
	BACKGROUND-COLOR: #e3f4fb; BORDER-TOP-COLOR: #ffffff; PADDING-LEFT: 1px; BORDER-TOP-WIDTH: 1px; HEIGHT: 18px; COLOR: #000000; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #ffffff; BORDER-LEFT-WIDTH: 1px; CURSOR: hand
}
.softbutton {
	BORDER-BOTTOM-COLOR: #dfdfe9; TEXT-ALIGN: center; FILTER: progid:DXImageTransform.Microsoft.Gradient (enabled=bEnabled,startColorStr=#FFFFFF,endColorStr=#A7A7A7); PADDING-BOTTOM: 2px; BORDER-RIGHT-WIDTH: 1px; BACKGROUND-COLOR: #f7f7f7; BORDER-TOP-COLOR: #a4acea; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-FAMILY: verdana,arial; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; COLOR: #000000; BORDER-RIGHT-COLOR: #dfdfe9; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #a4acea; BORDER-LEFT-WIDTH: 1px; CURSOR: hand; PADDING-TOP: 2px
}
TEXTAREA {
	SCROLLBAR-ARROW-COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #000000 1px solid; SCROLLBAR-FACE-COLOR: #dadaec; PADDING-LEFT: 2px; WIDTH: 100%; SCROLLBAR-DARKSHADOW-COLOR: #f4f4f4; FONT-FAMILY: verdana,arial; HEIGHT: 100px; SCROLLBAR-HIGHLIGHT-COLOR: #f4f4f4; COLOR: #000000; SCROLLBAR-SHADOW-COLOR: #b8b3e0; FONT-SIZE: 12px; BORDER-TOP: #000000 1px solid; SCROLLBAR-TRACK-COLOR: #f3f3f3; BORDER-RIGHT: #ffffff 1px solid; SCROLLBAR-3DLIGHT-COLOR: #b8b3e0
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,arial; COLOR: #000000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
SELECT {
	BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 2px; FONT-FAMILY: verdana,arial; COLOR: #000000; FONT-SIZE: 12px; CURSOR: hand
}
.UpTitle {
	BACKGROUND-IMAGE: url(../images/index_maintitlebg.gif); MARGIN-TOP: 1px; WIDTH: 99%; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: verdana,arial; BACKGROUND-POSITION: left bottom; HEIGHT: 32px; COLOR: #990000; MARGIN-LEFT: 1%; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
TD {
	FONT-FAMILY: verdana,arial; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.tbline {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #b8b3e0; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-COLLAPSE: collapse; PADDING-TOP: 5px
}
.tbgye {
	BACKGROUND-IMAGE: url(../images/corner.gif); BACKGROUND-COLOR: #cec7a2; PADDING-LEFT: 10px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: verdana,arial; BACKGROUND-POSITION: left top; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.tbgbl {
	BACKGROUND-IMAGE: url(../images/blcorner.gif); BACKGROUND-COLOR: #b8b3e0; PADDING-LEFT: 10px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: verdana,arial; BACKGROUND-POSITION: left top; HEIGHT: 25px; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.tbgwh {
	BACKGROUND-COLOR: #eeeefa; PADDING-LEFT: 5px; FONT-FAMILY: verdana,arial; COLOR: #000000; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.tbla {
	BACKGROUND-COLOR: #316ac5; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.tblb {
	BACKGROUND-COLOR: #316ac5; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.tblc {
	BACKGROUND-COLOR: #5080ce; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.tbld {
	BACKGROUND-COLOR: #dde3f2; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.tble {
	BACKGROUND-COLOR: #eeeefa; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.tblf {
	BACKGROUND-COLOR: #eef7ff; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.tblg {
	BACKGROUND-COLOR: #f2f2f2; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
